@model ProyectoNotas.Areas.Api.Models.AcudienteEstudiante

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AcudienteEstudiante</legend>

    <div class="display-label">Estudiantes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estudiantes.Nombres)
    </div>

    <div class="display-label">Acudientes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Acudientes.Nombres)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
