@model ProyectoNotas.Areas.Api.Models.AcudienteEstudiante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AcudienteEstudiante</legend>

    <div class="display-label">Estudiantes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Estudiantes.Nombres)
    </div>

    <div class="display-label">Acudientes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Acudientes.Nombres)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AcudienteEstudianteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
