@model ProyectoNotas.Areas.Api.Models.Asignatura

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Asignatura</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Grado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grado)
    </div>

    <div class="display-label">Colegios</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Colegios.NombreColegio)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
